astor==0.8.1
attrdict==2.0.1
Babel==2.14.0
bce-python-sdk==0.9.6
blinker==1.7.0
cachetools==5.3.3
click==8.1.7
contourpy==1.2.0
cssselect==1.2.0
cssutils==2.10.2
cycler==0.12.1
Cython==3.0.10
flask==3.0.2
future==1.0.0
imageio==2.34.0
imgaug==0.4.0
itsdangerous==2.1.2
kiwisolver==1.4.5
lmdb==1.4.1
networkx==3.2.1
numpy==1.26.4
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
opt-einsum==3.3.0
paddleocr==2.7.3
paddlepaddle==2.6.1
pandas==2.2.1
pdf2docx==0.5.8
pillow==10.3.0
platformdirs
premailer==3.10.0
prometheus-client
prompt-toolkit
protobuf==3.20.2
pyclipper==1.3.0.post5
pycryptodome==3.20.0
Pygments
PyMuPDF==1.24.0
PyMuPDFb==1.24.0
pyparsing==3.1.2
PySocks
python-dateutil
python-docx==1.1.0
python-json-logger
pytz
pywin32==305.1
pywinpty
PyYAML
pyzmq
rapidfuzz==3.7.0
rarfile==4.1
requests
rpds-py
scikit-image==0.22.0
scipy==1.12.0
Send2Trash
shapely==2.0.3
sniffio
soupsieve
stack-data
termcolor==2.4.0
terminado
tifffile==2024.2.12
tinycss2
tornado
tqdm==4.66.2
traitlets
typing_extensions
tzdata==2024.1
urllib3
visualdl==2.5.3
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==3.0.1
win-inet-pton